<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>
      Image Search Abstraction Layer
    </h1>
    <h3>
      User Story:
    </h3>
    <ul>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
      <li> I can get a list of the most recently submitted search strings.</li>
    </ul>
    <h3>
      Example query usage:
    </h3>
    <div class="example">
      <a href="https://img-search-abstr.glitch.me/api/imagesearch/lolcats%20funny?offset=10">https://img-search-abstr.glitch.me/api/imagesearch/lolcats%20funny?offset=10</a>
      <br>
      <a href="https://img-search-abstr.glitch.me/api/latest/">https://img-search-abstr.glitch.me/api/latest/</a>
    </div>
    <h3>
      Example query output:
    </h3>
    <div class="example">
      { url: http://images6.fanpop.com/image/photos/33600000/Funny-lolcats-lol-cats-33632376-284-177.jpg 
        <br>
        snippet : lol cats images Funny lolcats wallpaper and background photos ... 
      <br>
        thumbnail : https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBTgktnuhOQXYt_YXKHp29lWftSi6wYZfHqDPSde61sQGs2FJwc7gmvu0 
      <br>
        context : http://www.fanpop.com/clubs/lol-cats/images/33632376/title/funny-lolcats-photo }
    </div>
    <h3>
      Example latest output:
    </h3>
    <div class="example">
      [{"term":"lolcats funny","when":"2017-12-02T15:32:09.708Z"},{"term":"dogs","when":"2017-12-02T15:21:45.875Z"},{"term":"bike","when":"2017-12-02T15:20:23.599Z"},{"term":"dubai","when":"2017-12-02T15:18:50.807Z"},{"term":"dogs","when":"2017-12-02T15:12:34.202Z"},{"term":"cats","when":"2017-12-02T14:40:13.303Z"}]
    </div>
  </body>
</html>
